<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Homework #: D3 Joins and Interactions - CSE 578 - Spring 2023</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
        <script src="https://d3js.org/d3.v7.min.js"></script>       
    </head>

    
    <body>
        <div class="container">
            <h1 class="text-center"><b>Homework #Extra Credit: D3 Joins and Interactions</b></h1>
            <h3 class="text-center"><b>Karthik Aravapalli - karavapa@asu.edu</b></h3>
            <div id="my_dataviz">
                <!-- write svg here -->
            </div>
        </div>
    </body>
</html>